<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:0;
  background-color: #4c8045;
  width: 60%;
}

.right {
  right: 0;
  background-color: #cadcb6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

</style>
</head>
<body>

<div class="split left">
  <div class="centered">
    <h2>Food Truck Website</h2>
    <p>Get full on a truck not a table</p>
  </div>
</div>

<div class="split right">
  <div class="centered">
	  <p><a href="{{ url_for('login')}}">Login</p>
    <p><a href="Link">Menu</a></p>
    <p><a href="Link">About Us</a></p>
  </div>
</div>
     
</body>
</html> 
